.progresses {
  position: relative;
  max-width: 75%;
  margin: auto;
}

.progresses ul {
  list-style: none;
  padding: 0;
}

.progresses ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(204, 198, 198);
  z-index: 200;
  position: relative;
}

.progresses ul li.blue {
  color: #849614;
  background-color: #849614;
}

.progresses ul li::after {
  position: absolute;
  top: 35px;
  left: -15px;
  font-size: 0.8rem;
  width: 90px;
}

#step-1::after {
  content: 'Product Preference';
}

#step-2::after {
  content: 'Delivery Details';
  left: -5px;
}

#step-3::after {
  content: 'Payment Method';
}

.progresses .progress {
  height: 0.2rem;
  width: 100%;
  top: 38px;
  position: absolute;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #849614;
  transition: width 0.6s ease;
}
