.main-content {
  padding-top: 30px;
  padding-bottom: 10px;
}

.info-card {
  padding: 50px 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.info-card .info-card_icon {
  height: 125px;
  width: 125px;
  border: 1px solid #00b412;
  border-radius: 125px;
}
.info-card .info-card_icon_unsuccessful {
  height: 125px;
  width: 125px;
  border: 1px solid #ed3237;
  border-radius: 125px;
}
.info-card .info-card_icon i {
  font-size: 50px;
  color: #03a9f4;
}
.info-card .info-card_icon .info-card_img-icon {
  height: 60px;
  width: 60px;
  object-fit: contain;
}
.info-card .btn {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.info-card--danger .info-card_icon {
  border-color: 1px solid #00b412;
}
.info-card--danger .info-card_icon i {
  color: #f44336;
}
