.input-group-addon {
  background-color: transparent;
  border-left: 0;
}

.cc-number.identified {
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-position-x: 99%;
}

.one-card > div {
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}

.two-card > div {
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48%;
}

.two-card div.amex-cvc-preview {
  float: right;
}

.cards-logo img {
  height: 10.99px;
  width: 30.11px;
}
.payment-logo img {
  width: 79px;
  height: 15px;
}

.payment-flow-card input::placeholder {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;

  color: rgba(142, 145, 162, 0.5);
}

.hide {
  display: none;
}
.show_div {
  display: block;
}
.payment-flow-card .card {
  padding-left: 10px;
  padding-right: 10px;
}
