.main-content {
  padding-top: 30px;
  padding-bottom: 10px;
}

.info-card {
  padding: 10px 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.info-card .info-card_icon {
  height: 125px;
  width: 125px;
  border: 1px solid #00b412;
  border-radius: 125px;
}

.pickup-stations hr {
  border: 1px solid #c2d068;
}

@media screen and (max-width: 1680px) {
}
/*max-width:1680px*/
@media screen and (max-width: 1440px) {
  .single-welcome-hero {
    height: 807px;
  }
} /*max-width:1440px*/

@media screen and (max-width: 1199px) {
} /*max-width:1199px*/

@media screen and (max-width: 1024px) {
} /*max-width:1024px*/

@media screen and (max-width: 1008px) {
} /*max-width:1008px*/

@media screen and (max-width: 992px) {
} /*max-width:992px*/

@media screen and (max-width: 991px) {
} /*max-width:991px*/
@media (min-width: 40em) {
  .offset-md-4 {
    margin: 0 auto;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 34%;
  }
}

@media screen and (max-width: 768px) {
  .offset-md-4 {
    margin: 0 auto;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 50%;
  }
} /*max-width:768px*/

@media screen and (max-width: 767px) {
} /*max-width:767px*/

@media screen and (max-width: 660px) {
} /*max-width:660px*/

@media screen and (max-width: 640px) {
} /*max-width:640px*/

@media screen and (max-width: 580px) {
} /*max-width:580px*/

@media screen and (max-width: 540px) {
} /*max-width:540px*/

@media screen and (max-width: 480px) {
  .offset-md-4 {
    margin: 0 auto;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
  }
} /*max-width:480px*/

@media screen and (max-width: 440px) {
} /*max-width:400px*/

@media screen and (max-width: 350px) {
} /*max-width:350px*/

@media (max-width: 320px) {
} /*max-width:320px*/
