/* -----------------------
 Alerts
-------------------------*/

/* -----------------------
 Buttons
-------------------------*/

.btn {
  font-size: 14px;
  padding: 9px 16px;
  border-radius: 2px;
}

.btn-wishlist {
  background-color: #efeff6;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  padding: 5px 3px;
  display: inline-block;
  font-size: 14px;
  color: #3d405c;
  text-align: center;
  line-height: 1.7;
}

.btn-wishlist:hover {
  background-color: #ff407b;
  color: #fff;
}

/*--- btn default --*/

.btn-brand {
  color: #2e2f39;
  background-color: #ffc750;
  border-color: #ffc750;
}

.btn-brand:hover {
  color: #2e2f39;
  background-color: #efb63e;
  border-color: #efb63e;
}

.btn-brand.focus,
.btn-brand:focus {
  color: #2e2f39;
  background-color: #efb63e;
  border-color: #efb63e;
  box-shadow: none;
}

/*--- btn primary --*/

.btn-primary {
  color: #fff;
  background-color: #5969ff;
  border-color: #5969ff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #4656e9;
  border-color: #4656e9;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #4656e9;
  border-color: #4656e9;
  box-shadow: 0 0 0 1px rgb(37, 52, 158);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(37, 52, 158);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #4656e9;
  border-color: #4656e9;
}

/*--- btn secondary --*/

.btn-secondary {
  color: #fff;
  background-color: #ff407b;
  border-color: #ff407b;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #f0346e;
  border-color: #f0346e;
}

.btn-secondary.focus,
.btn-secondary:focus {
  color: #fff;
  background-color: #f0346e;
  border-color: #f0346e;
  box-shadow: 0 0 0 1px rgb(222, 17, 80);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #f0346e;
  border-color: #f0346e;
}

/*--- btn success --*/

.btn-success {
  color: #fff;
  background-color: #2ec551;
  border-color: #2ec551;
}

.btn-success:hover {
  color: #fff;
  background-color: #21ae41;
  border-color: #21ae41;
}

.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #21ae41;
  border-color: #21ae41;
  box-shadow: 0 0 0 1px rgb(18, 158, 50);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #21ae41;
  border-color: #21ae41;
}

/*--- btn danger --*/

.btn-danger {
  color: #fff;
  background-color: #ef172c;
  border-color: #ef172c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #da0419;
  border-color: #da0419;
}

.btn-danger.focus,
.btn-danger:focus {
  color: #fff;
  background-color: #da0419;
  border-color: #da0419;
  box-shadow: 0 0 0 1px rgb(218, 4, 25);
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #da0419;
  border-color: #da0419;
}
*/

/*--- btn warning --*/

 .btn-warning {
  color: #2e2f39;
  background-color: #ffc108;
  border-color: #ffc108;
}

.btn-warning:hover {
  color: #2e2f39;
  background-color: #f3b600;
  border-color: #f3b600;
}

.btn-warning.focus,
.btn-warning:focus {
  color: #2e2f39;
  background-color: #f3b600;
  border-color: #f3b600;
  box-shadow: 0 0 0 1px rgb(238, 182, 0);
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #2e2f39;
  background-color: #f3b600;
  border-color: #f3b600;
}

/*--- btn info --*/

.btn-info {
  color: #fff;
  background-color: #25d5f2;
  border-color: #25d5f2;
}

.btn-info:hover {
  color: #fff;
  background-color: #17c0dc;
  border-color: #17c0dc;
}

.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #17c0dc;
  border-color: #17c0dc;
  box-shadow: 0 0 0 1px rgb(238, 184, 22);
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #17c0dc;
  border-color: #17c0dc;
}

/*--- btn light --*/

.btn-light {
  color: #71738d;
  background-color: #f0f0f8;
  border-color: #f0f0f8;
}

.btn-light:hover {
  color: #2e2f39;
  background-color: #d7d7df;
  border-color: #d7d7df;
}

.btn-light.focus,
.btn-light:focus {
  color: #2e2f39;
  background-color: #d7d7df;
  border-color: #d7d7df;
  box-shadow: 0 0 0 1px rgb(215, 215, 223);
}

/*--- btn dark --*/

.btn-dark {
  color: #fff;
  background-color: #2e2f39;
  border-color: #2e2f39;
}

.btn-dark:hover {
  color: #2e2f39;
  background-color: #d7d7df;
  border-color: #d7d7df;
}

.btn-dark.focus,
.btn-dark:focus {
  color: #fff;
  background-color: #d7d7df;
  border-color: #d7d7df;
  box-shadow: 0 0 0 1px rgb(46, 47, 57);
}

/*--- btn outline brand --*/

.btn-outline-brand {
  color: #2e2f39;
  background-color: transparent;
  border-color: #ffc750;
}

.btn-outline-brand:hover {
  color: #2e2f39;
  background-color: #ffc750;
  border-color: #ffc750;
}

.btn-outline-brand.focus,
.btn-outline-brand:focus {
  color: #2e2f39;
  background-color: transparent;
  border-color: #ffc750;
  box-shadow: 0 0 0 1px rgb(255, 195, 89);
}

/*--- btn outline primary --*/

.btn-outline-primary {
  color: #5969ff;
  background-color: transparent;
  border-color: #5969ff;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5969ff;
  border-color: #5969ff;
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
  color: #fff;
  background-color: #5969ff;
  border-color: #5969ff;
  box-shadow: 0 0 0 1px rgb(65, 77, 167);
}

/*--- btn outline secondary --*/

.btn-outline-secondary {
  color: #ff407b;
  background-color: transparent;
  border-color: #ff407b;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #ff407b;
  border-color: #ff407b;
}

.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  color: #fff;
  background-color: #ff407b;
  border-color: #ff407b;
  box-shadow: 0 0 0 1px rgb(227, 45, 201);
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #ff407b;
  border-color: #ff407b;
}

/*--- btn outline success --*/

.btn-outline-success {
  color: #2ec551;
  background-color: transparent;
  border-color: #2ec551;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #2ec551;
  border-color: #2ec551;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  color: #fff;
  background-color: #2ec551;
  border-color: #2ec551;
  box-shadow: 0 0 0 1px rgb(40, 167, 69);
}

/*--- btn outline danger --*/

.btn-outline-danger {
  color: #ef172c;
  background-color: transparent;
  border-color: #ef172c;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #ef172c;
  border-color: #ef172c;
}

.btn-outline-danger.focus,
.btn-outline-danger:focus {
  color: #fff;
  background-color: #ef172c;
  border-color: #ef172c;
  box-shadow: 0 0 0 1px rgb(239, 23, 44);
}

/*--- btn outline warning --*/

.btn-outline-warning {
  color: #2e2f39;
  background-color: transparent;
  border-color: #ffc108;
}

.btn-outline-warning:hover {
  color: #2e2f39;
  background-color: #ffc108;
  border-color: #ffc108;
}

.btn-outline-warning.focus,
.btn-outline-warning:focus {
  color: #2e2f39;
  background-color: #ffc108;
  border-color: #ffc108;
  box-shadow: 0 0 0 1px rgb(255, 193, 8);
}

/*--- btn outline info --*/

.btn-outline-info {
  color: #25d5f2;
  background-color: transparent;
  border-color: #25d5f2;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #25d5f2;
  border-color: #25d5f2;
}

.btn-outline-info.focus,
.btn-outline-info:focus {
  color: #fff;
  background-color: #25d5f2;
  border-color: #0998b0;
  box-shadow: 0 0 0 1px rgb(238, 184, 22);
}

/*--- btn outline light --*/

.btn-outline-light {
  color: #7171a6;
  background-color: transparent;
  border-color: #e6e6f2;
}

.btn-outline-light:hover {
  color: #71748d;
  background-color: #f0f0f8;
  border-color: #cacae0;
}

.btn-outline-light.focus,
.btn-outline-light:focus {
  color: #71748d;
  background-color: #f0f0f8;
  border-color: #cacae0;
  box-shadow: 0 0 0 1px rgb(235, 235, 237);
}

/*--- btn outline-dark --*/

.btn-outline-dark {
  color: #2e2f39;
  background-color: transparent;
  border-color: #2e2f39;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #2e2f39;
  border-color: #2e2f39;
}

.btn-outline-dark.focus,
.btn-outline-dark:focus {
  color: #fff;
  background-color: #2e2f39;
  border-color: #2e2f39;
  box-shadow: 0 0 0 1px rgb(46, 47, 57);
}

/*--- btn size --*/

.btn-xs {
  padding: 4px 10px;
  font-size: 12px;
}

.btn-sm {
  padding: 5px 12px;
  font-size: 14px;
}

.btn-lg {
  padding: 11px 20px;
  font-size: 15px;
}

/*--- btn social --*/

.btn-facebook {
  color: #fff;
  background-color: #3c73df;
  border-color: #3c73df;
}

.btn-google-plus {
  color: #fff;
  background-color: #eb5e4c;
  border-color: #eb5e4c;
}

.btn-twitter {
  color: #fff;
  background-color: #2caeff;
  border-color: #2caeff;
}

.btn-instagram {
  color: #fff;
  background-color: #9361fa;
  border-color: #9361fa;
}

.btn-pinterest {
  color: #fff;
  background-color: #c8232c;
  border-color: #c8232c;
}

/*--- cropper document btn --*/

.btn-rounded {
  border-radius: 100px;
}

/*--- cropper document btn --*/

.docs-buttons .btn,
.docs-data .input-group {
  margin-bottom: 5px;
}

/*-----------------------
btn-link
-------------------------*/

.btn-link {
  color: #5969ff;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-primary-link {
  color: #5969ff !important;
}

.btn-brand-link {
  color: #ffc750 !important;
}

.btn-secondary-link {
  color: #ff407b !important;
}
