/*--------------------
 Form
---------------------*/

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  color: #71748d;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #71748d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2e4;
  border-radius: 2px;
}

.form-control:focus {
  color: #71748d;
  background-color: #fff;
  border-color: #a7a7f0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, 0.75);
}

input[type='file'] {
  color: #71748d;
  background-color: #fff;
  border-color: #a7a7f0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, 0.75);
}

.col-form-label {
  font-size: 15px;
}



button:focus {
  outline: 0;
}

select.form-control {
  color: #71748d;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 99% 52%;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(/images/down-arrow.png);
  padding-right: 15px;
  border: 1px solid #d2d2e4;
  border-radius: 2px;
}

textarea.form-control {
  height: auto;
  color: #71748d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d2e4;
  border-radius: 2px;
  padding: 12px 16px;
}

input::-webkit-input-placeholder {
  color: #71748d !important;
}

input:focus::-webkit-input-placeholder {
  color: #5969ff !important;
}

textarea::-webkit-input-placeholder {
  color: #71748d !important;
}

textarea:focus::-webkit-input-placeholder {
  color: #5969ff !important;
}

button.btn {
}

button.btn-default {
}

button.btn-primary {
}

address {
}

.form-group {
  margin-bottom: 12px;
}

.form-control-lg {
  padding: 12px;
}

/* Custom-Chekbox
-------------------------------------------------------------- */

/* .custom-control {
  position: relative;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-control-input:checked ~ input[type='checkbox'] {
  background: #3d404e;
  border: #7f83a2 1px solid;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-label {
  margin-bottom: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5969ff;
  border-color: #5969ff;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #5969ff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
}

.custom-control-label::after {
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  content: '';
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-control-label::before {
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: '';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  border: 2px solid #d2d2e4;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #5969ff;
  border-color: #5969ff;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #efeff6;
}

.custom-select-font-size {
  font-size: 14px;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-valid.custom-control-input.is-valid:checked ~ .custom-control-label::before,
.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
  background-color: #34ce57;
  border-color: #34ce57;
}

.custom-control-input.is-invalid ~ .custom-control-label::before,
.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
  background-color: #ffdadd;
  border-color: #efa2a9;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #9295b0;
}

.custom-control-input.is-valid ~ .custom-control-label::before,
.was-validated .custom-control-input:valid ~ .custom-control-label::before {
  background-color: #c6ffd3;
  border: 2px solid #68df83;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #75748d;
  text-align: center;
  white-space: nowrap;
  background-color: #efeff6;
  border: 1px solid #d2d2e4;
  border-radius: 4px;
}

.section-block {
  margin: 16px 0px;
}

.section-title {
  font-weight: 500;
  margin-bottom: 5px;
} 