:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
}

/*---------------------
  Hero
-----------------------*/

.hero {
  padding-bottom: 50px;
  background: #f7f7f7;
}

.hero.hero-normal {
  padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
  position: relative;
}

.hero.hero-normal .hero__categories ul {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
  width: 100%;
  z-index: 9;
  background: #ffffff;
}

.hero.hero-normal .hero__search {
  margin-bottom: 0;
}

.hero__categories__all {
  background: #56ebb2;
  position: relative;
  padding: 10px 25px 10px 40px;
  cursor: pointer;
}

.hero__categories__all i {
  font-size: 16px;
  color: #ffffff;
  margin-right: 10px;
}

.hero__categories__all span {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

/* .hero__categories__all:after {
  position: absolute;
  right: 18px;
  top: 9px;
  content: '3';
  font-family: 'ElegantIcons';
  font-size: 18px;
  color: #ffffff;
} */

.hero__categories ul {
  border: 1px solid #ebebeb;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.hero__categories ul li {
  list-style: none;
}

.hero__categories ul li a {
  font-size: 16px;
  color: #1c1c1c;
  line-height: 39px;
  display: block;
  text-decoration: none;
}

.hero__search {
  overflow: hidden;
  margin-bottom: 30px;
}

.hero__search__form {
  width: 610px;
  height: 50px;
  border: 1px solid #ebebeb;
  position: relative;
  float: left;
}

.hero__search__form form .hero__search__categories {
  width: 30%;
  float: left;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 11px;
  position: relative;
}

.hero__search__form form .hero__search__categories:after {
  position: absolute;
  right: 0;
  top: 14px;
  height: 20px;
  width: 1px;
  background: #000000;
  opacity: 0.1;
  content: '';
}

.hero__search__form form .hero__search__categories span {
  position: absolute;
  right: 14px;
  top: 14px;
}

.hero__search__form form input {
  width: 70%;
  border: none;
  height: 48px;
  font-size: 16px;
  color: #b2b2b2;
  padding-left: 20px;
}

.hero__search__form form input::placeholder {
  color: #b2b2b2;
}

.hero__search__form form button {
  position: absolute;
  right: 0;
  top: -1px;
  height: 50px;
}

.hero__search__phone {
  float: right;
}

.hero__search__phone__icon {
  font-size: 18px;
  color: #7fad39;
  height: 50px;
  width: 50px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.hero__search__phone__text {
  overflow: hidden;
}

.hero__search__phone__text h5 {
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 5px;
}

.hero__search__phone__text span {
  font-size: 14px;
  color: #6f6f6f;
}

.hero__item {
  /* height: 320px; */
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.hero__text span {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #72ffc9;
}

.hero__text h3 {
  font-size: 43px;
  /* line-height: 1.5; */
  font-weight: 700;
  /* margin: 10px 0; */
}

.hero__text p {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 450;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 35px;
}

div.hero__banner {
  background: #0c0d12;
}

/*---------------------
  Categories
-----------------------*/

.categories__item {
  height: 270px;
  position: relative;
}

.categories__item h5 {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 20px;
  bottom: 20px;
  text-align: center;
}

.categories__item h5 a {
  font-size: 18px;
  color: #1c1c1c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 0 10px;
  background: #ffffff;
  display: block;
}

.categories__slider .col-lg-3 {
  max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
  font-size: 18px;
  color: #1c1c1c;
  height: 70px;
  width: 30px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #ebebeb;
  position: absolute;
  left: -35px;
  top: 50%;
  background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -35px;
}

.btn-outline-white {
  width: 231px;
  height: 50px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Circular Std;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
}

.products-section .card-text {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.products-section .like {
  color: #757575;
  font-weight: bold;
  background-color: #000;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  opacity: 0.2;
}

.products-section .like:hover {
  color: #ee6967;
  cursor: pointer;
  border: 2px solid #777;
}
.near-you {
  background: #f4f5f9;
  width: 258px;
  height: 32px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Circular Std;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  color: #5c5c5d;
}
.products-near-you-header {
  border-left: 5px solid #56ebb2;
}

.services span {
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

  letter-spacing: -0.02em;
  color: #4d4d4d;
  border-color: #cfc9c9;
}

.app-section {
  height: 180px;
  background-color: #41bf8f;
  overflow: hidden;
}
.app-section .img-1 {
  margin-top: -98px;
}
.app-section .img-2 {
  margin-top: 40px;
}

.app-section .liner {
  width: 74px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
}

#closest-to-you .heading {
  font-size: 15px;
  font-family: Circular Std;
  font-weight: 450;
}
#closest-to-you .alpha-code {
  font-size: 14px;
  font-family: Circular Std;
  font-style: normal;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.fs-13 {
  font-size: 13px;
  font-family: Circular Std;
}
.fs-14 {
  font-size: 14px;
  font-family: Circular Std;
}
.fs-15 {
  font-size: 15px;
  font-family: Circular Std;
}
.load-more {
  height: 50px;
  width: 1080px;
  border: 1px solid #f3ecec;
  border-radius: 2px;
}

/* New design */

/* #sidebar-1 {
  width: 20%;
  padding: 10px;
  margin: 0;
  float: left;
}

#products-1 {
  width: 80%;
  padding: 10px;
  margin: 0;
  float: right;
}

ul {
  list-style: none;
  padding: 5px;
}

li a {
  color: darkgray;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: darksalmon;
}

.fa-circle {
  font-size: 20px;
}

#red {
  color: #e94545d7;
}

#teal {
  color: rgb(69, 129, 129);
}

#blue {
  color: #0000ff;
}

.card {
  width: 250px;
  display: inline-block;
  height: 300px;
}

.card-img-top {
  width: 250px;
  height: 210px;
}

.card-body p {
  margin: 2px;
}

.card-body {
  padding: 0;
  padding-left: 2px;
}

.filter {
  display: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 991px) {
  .navbar-nav {
    margin-left: 35%;
  }

  .nav-item {
    padding-left: 20px;
  }

  .card {
    width: 190px;
    display: inline-block;
    height: 300px;
  }

  .card-img-top {
    width: 188px;
    height: 210px;
  }

  #mobile-filter {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    margin-left: 20%;
  }

  .nav-item {
    padding-left: 10px;
  }

  .card {
    width: 230px;
    display: inline-block;
    height: 300px;
    margin-bottom: 10px;
  }

  .card-img-top {
    width: 230px;
    height: 210px;
  }

  #mobile-filter {
    display: none;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .navbar-nav {
    margin-left: 20%;
  }

  .nav-item {
    padding-left: 10px;
  }

  .card {
    width: 205px;
    display: inline-block;
    height: 300px;
    margin-bottom: 10px;
  }

  .card-img-top {
    width: 203px;
    height: 210px;
  }

  .fa-circle {
    font-size: 15px;
  }

  #mobile-filter {
    display: none;
  }
}

@media (max-width: 567px) {
  .navbar-nav {
    margin-left: 0%;
  }

  .nav-item {
    padding-left: 10px;
  }

  #sidebar-1 {
    width: 100%;
    padding: 10px;
    margin: 0;
    float: left;
  }

  #products-1 {
    width: 100%;
    padding: 5px;
    margin: 0;
    float: right;
  }

  .card {
    width: 230px;
    display: inline-block;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .card-img-top {
    width: 230px;
    height: 210px;
  }

  .list-group-item {
    padding: 3px;
  }

  .offset-1 {
    margin-left: 8%;
  }

  .filter {
    display: block;
    margin-left: 70%;
    margin-top: 2%;
  }

  #sidebar {
    display: none;
  }

  #mobile-filter {
    padding: 10px;
  }
} */

/* New Design-2 */

.home {
  padding: 0;
  position: relative;
}

.home .slide-container .slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: 9rem;
}

.home .slide-container .slide .content {
  flex: 1 1 40rem;
  animation: slideContent 0.5s linear 1s backwards;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

.home .slide-container .slide .image {
  flex: 1 1 50rem;
  padding-bottom: 15rem;
  position: relative;
  z-index: 0;
}

.home .slide-container .slide .image .shoe {
  width: 100%;
  transform: rotate(-35deg);
  animation: shoe 0.3s linear;
}

@keyframes shoe {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
}

.home .slide-container .slide .image .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: shoeText 0.5s linear 0.5s backwards;
}

@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.home .slide-container .slide .content span {
  font-size: 2rem;
  color: var(--orange);
}

.home .slide-container .slide .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.home .slide-container .slide .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 0.5rem 0;
}

/* .home .slide-container:nth-child(1) .slide {
  background: url(/assets/images/home-bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container:nth-child(2) .slide {
  background: url(/assets/images/home-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .slide-container:nth-child(3) .slide {
  background: url(/assets/images/home-bg-3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
} */

.home .slide-container {
  display: none;
}

.home .slide-container.active {
  display: block;
}

.home #prev,
.home #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

.home #prev:hover,
.home #next:hover {
  color: #fff;
  background: var(--orange);
}

.home #prev {
  left: 3rem;
}

.home #next {
  right: 3rem;
}

.service .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #f9f9f9;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
}

.service .box-container .box {
  text-align: center;
  flex: 1 1 30rem;
}

.service .box-container .box i {
  font-size: 4rem;
  color: var(--orange);
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1rem;
}

.service .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  flex: 1 1 30rem;
}

.products .box-container .box .content {
  padding: 1.5rem;
}

.products .box-container .box img {
  height: 10rem;
  transform: rotate(-35deg);
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
  margin: 8rem 2rem;
}

.products .box-container .box:hover img {
  transform: rotate(-35deg) scale(1.2);
}

.products .box-container .box .icons {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0.5rem;
  left: -10rem;
}

.products .box-container .box:hover .icons {
  left: 1rem;
}

.products .box-container .box .icons a {
  height: 4.5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: 0.1rem solid var(--black);
  border-radius: 0.5rem;
  background: #fff;
  margin-top: 0.5rem;
}

.products .box-container .box .icons a:hover {
  background: var(--orange);
  color: #fff;
}

.products .box-container .box .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.products .box-container .box .content .price {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.products .box-container .box .content .price span {
  color: var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box-container .box .content .stars {
  padding-bottom: 1rem;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
}

.featured .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  align-items: center;
  margin: 1.5rem 0;
}

.featured .row .content {
  flex: 1 1 40rem;
}

.featured .row .image-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex: 1 1 50rem;
}

.featured .row .image-container .small-image {
  width: 20%;
}

.featured .row .image-container .big-image {
  width: 80%;
  padding: 1rem;
}

.featured .row .image-container .small-image img {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.featured .row .image-container .small-image img:hover {
  background: #ccc;
}

.featured .row .image-container .big-image img {
  width: 100%;
}

.featured .row .image-container .big-image img:hover {
  transform: scale(1.05);
}

.featured .row .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.featured .row .content .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  padding: 0.5rem 0;
}

.featured .row .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.featured .row .content .price {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.featured .row .content .price span {
  font-size: 1.5rem;
  color: var(--orange);
  text-decoration: line-through;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
}

.review .box-container .box img {
  border-radius: 50%;
  object-fit: cover;
  height: 15rem;
  width: 15rem;
  margin: 1rem 0;
}

.review .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.review .box-container .box p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.review .box-container .box .stars i {
  color: var(--orange);
  font-size: 2rem;
}

.newsletter {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.newsletter .content {
  text-align: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
}

.newsletter .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.newsletter .content p {
  font-size: 1.5rem;
  color: #666;
  margin: 1rem auto;
  max-width: 60rem;
}

.newsletter .content form {
  margin: 1rem auto;
  max-width: 50rem;
  display: flex;
}

.newsletter .content form .box {
  width: 100%;
  font-size: 1.7rem;
  text-transform: none;
  color: #333;
  padding: 1rem;
  border: 0.2rem solid var(--black);
  border-right: none;
  margin-top: 1rem;
}

.newsletter .content form .btn {
  border-radius: 0;
}

.footer .box-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background: #f9f9f9;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 20rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box-container .box a {
  color: #666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a:hover {
  color: var(--orange);
}

.footer .box-container .credit {
  text-align: center;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: #999;
}

.footer .box-container .credit span {
  color: var(--orange);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: -120%;
    width: 100%;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  header .navbar.active {
    left: 0;
  }

  header .navbar a {
    font-size: 2rem;
    background: #fff;
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem;
    display: block;
    text-align: center;
  }

  .home .slide-container .slide .image .text {
    width: 60%;
  }

  .home #prev,
  .home #next {
    top: 85%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .home .slide-container .slide .image {
    padding-bottom: 6rem;
  }

  .heading {
    font-size: 3rem;
  }
}
