.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* 
.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.modal-main .close {
  position: absolute;
  background: white;
  /* width: 80%; */
  height: auto;
  top: 5%;
  right: 38%;
  /* transform: translate(-50%, -50%); */
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media screen and (max-width: 1680px) {
  .modal-main .close {
    position: absolute;
    background: white;
    height: auto;
    top: 5%;
    right: 38%;
  }
}
/*max-width:1680px*/
@media screen and (max-width: 1440px) {
  .modal-main .close {
    position: absolute;
    background: white;
    height: auto;
    top: 5%;
    right: 38%;
  }
} /*max-width:1440px*/

@media screen and (max-width: 1199px) {
  .modal-main .close {
    position: absolute;
    background: white;
    height: auto;
    top: 4%;
    right: 30%;
  }
} /*max-width:1199px*/

@media screen and (max-width: 1024px) {
} /*max-width:1024px*/

@media screen and (max-width: 1008px) {
} /*max-width:1008px*/

@media screen and (max-width: 992px) {
} /*max-width:992px*/

@media screen and (max-width: 991px) {
} /*max-width:991px*/
@media (min-width: 768px) {
  .offset-md-4 {
    margin: 0 auto;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .modal-main .close {
    position: absolute;
    background: white;
    height: auto;
    top: 3%;
    right: 30%;
  }
} /*max-width:768px*/

@media screen and (max-width: 767px) {
} /*max-width:767px*/

@media screen and (max-width: 660px) {
} /*max-width:660px*/

@media screen and (max-width: 640px) {
} /*max-width:640px*/

@media screen and (max-width: 580px) {
} /*max-width:580px*/

@media screen and (max-width: 540px) {
} /*max-width:540px*/

@media screen and (max-width: 480px) {
  .modal-main .close {
    position: absolute;
    background: white;
    height: auto;
    top: 6%;
    right: 12%;
  }
} /*max-width:480px*/

@media screen and (max-width: 440px) {
} /*max-width:400px*/

@media screen and (max-width: 350px) {
} /*max-width:350px*/

@media screen and (max-width: 320px) {
  .modal-main .close {
    position: absolute;
    background: white;
    height: auto;
    top: 6%;
    right: 15%;
  }
} /*max-width:320px*/
