.navbar.bg-light {
  background-color: #d0f3b3 !important;
  .form-control {
    border-radius: 4.25rem;
  }
}

.navbar-center {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 10px;
  text-align: center;
  margin: auto;
  height: 100%;
}
