.search-form {
  border: 1px solid #ffffff !important;
}

.search-button {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
  border: none;
}
form .btn {
  border: none;
  line-height: 1.5;
}

button.nav-link {
  padding: 0;
  margin: 10px 2px;
}
