@media (max-width: 1500px) {
  .search-container {
    max-width: 750px;
    padding: 0 70px;
  }
  .search-container {
    margin: 0 auto;
  }

  .search-container {
    padding: 0 10px 25px;
  }
  .input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
  }
  .nav_bar_search_buttons {
    width: 38px;
    padding-left: 16px;
    display: flex;
  }
  .nav_bar_search_buttons svg {
    margin: auto;
    color: #a2a0a0;
    font-size: 15px;
    height: 1em;
    max-width: 1em;
  }
  #search-input {
    background: white;
  }

  .nav_bar_search_input_dropdown_arrow svg {
    margin: auto;
    color: #a2a0a0;
    font-size: 15px;
    height: 1em;
    max-width: 1em;
  }
}
