/* UserActivityCard */
/* .reviews {
  .stars {
    display: inline-block;
    list-style: none;
    padding: 0;

    > li {
      display: inline-block;

      .fa {
        color: #f7c01b;
      }
    }
  }
} */
html {
  height: 100%;
}

body {
  background: #e5e5e5;
  /* height: 100%; */
  font-family: Circular Std;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App {
  /* width: 100%; */
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
  position: relative;

  /* min-height: calc(100vh-340px); */
}

/* Footer */
#main-footer {
  margin-top: auto;
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 20rem; */
  background: #192150;
}

/* Footer height */
#content-wrap {
  /* padding-bottom: 20rem; */
}

img {
  max-width: 100%; /*img will not spill out of parent container*/
}

.img-views span:hover {
  cursor: pointer;
  border: 1px solid rgb(91, 145, 10) !important;
}

.color-box {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin: 0 3px;
  cursor: pointer;
}
.color-1 {
  background: #304758;
}
.color-2 {
  background: #ed3237;
}
.color-3 {
  background: #27ae60;
}
.color-4 {
  background: #f2994a;
}
.underline {
  border: 2px solid rgba(194, 208, 104, 0.4);
}

section#reviews span {
  width: 25px;
  height: 25px;
  /* border-radius: 50%; */
  border: 2px solid #ddd;
  /* margin: 0 3px; */
  font-size: 1rem;
  color: #333333;
  background: #777;
}

#product-specifications .card {
  width: 18rem;
}
#shipping .card {
  background-color: #fff;
  /* border-radius: 10%; */
  border: 1px solid #fef;
}
#shipping .card-header {
  background-color: #fff;
}

#shipping .badge {
  cursor: pointer;
  font-size: 1.2rem;
}
#shipping .size,
#shipping .color {
  padding: 0.75rem 3rem;
}

/* .product-image {
} */

/* .product-image img {
  width: 50%;
  height: 50%;
  object-fit: cover;
} */

.rounded-4 {
  border-radius: 5%;
}
.reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.stars > li {
  display: inline-block;
}
.stars .fa {
  color: #f7c01b;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.wrapper form {
  padding: 2.5rem 3rem;
}

.wrapper form .btn {
  background-color: #333;
  border-color: #333;
  color: white;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
}

/* Modal */
/* div.modal-content {
  width: 1440px;
} */

/* .main-footer .bg-purple {
  background: #192150;
} */
/* 
#footer div.socials {
  background-color: #192150;
} */
